[submodule "vendor/mimalloc"]
	path = vendor/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "vendor/llco"]
	path = vendor/llco
	url = https://github.com/tidwall/llco.git
[submodule "vendor/neco"]
	path = vendor/neco
	url = https://github.com/tidwall/neco.git
